#alertbox {
	font-size: var(--alert_font_size);
	line-height: 80px;
	vertical-align: middle;
	height: 80px;
	text-align: center;
	width: 100%;
	background-color: var(--foreground);
	color: var(--background);
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	border-radius: var(--border_radius);
	margin-bottom: 10px;
}

#alert_container {
	width: 10%;
	min-width: 200px;
	position: absolute;
	right: 0;
	left: 0;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	z-index: 20;
}