#alertbox {
	width: 20%;
	font-size: 50px;
	height: 5em;
	min-width: 6em;
	background-color: red;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	top: -500px;
}

#alerttext {
	margin-top:5%;
}