.header {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--foreground);
	margin-top: 0px;
	padding-top: 0px;
}

#header_center {
	flex-basis: 50%;
	text-align: center;
}
.side_button {
	font-size: var(--button-font-size);
	flex-basis: 25%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.side_button_centered {
	margin-left: auto;
	margin-right: auto;
	max-width: 200px;
	width: 80%;
	height: 80%;

	margin-top: auto;
	margin-bottom: auto;

	background-color: var(--guess_correct);
	border-radius: var(--border_radius);
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
} 
#title {
	color: var(--foreground);
	font-size: var(--title_font_size);
}
#subtitle {
	color: var(--foreground_alt);
	font-size: var(--subtitle_font_size);
	margin-bottom: 2px;
}