#join_form {
	margin-top: 3%;
	width: 24em;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#room_id {
	display: flex;
	justify-content: center;
	width: 100%;
}
.btn {
	border-radius: var(--border_radius);
	margin-top: 3%;
	height: 1.3em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--guess_correct);
	text-align: center;
	vertical-align: middle;
	font-size: 3em;
	margin-bottom: 0;
}
#create {
	margin-top: 0;
}

#room_or {
	font-size: 3em;
	text-align: center;
	margin: 0 0 0 0;
	margin-bottom: 0;
	color: var(--foreground_alt);
}

#name {
	vertical-align: middle;	
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}
.username_letter {
	display: inline-block;
	background-color: var(--guess_doesntinclude);
	width: 1.3858em;
	height: 1.3858em;
	margin-right: 1.5px;
	margin-left: 1.5px;
	font-size: 2em;
	border-radius: var(--border_radius);
	text-align: center;
}
.username_letter_yellow {
	background-color: var(--guess_includes);
}
.username_letter_green {
	background-color: var(--guess_correct);
}
#invited {
	color: var(--foreground_alt);
	font-size: 1.7em;
	text-align: center;
	margin: 0 0 10px 0;
}