#keyboard {
	text-align: center;
	width: var(--keyboard_width);
	height: var(--keyboard_height);
	
	position: absolute;
	margin: 0 auto 0 auto;
	right: 0;
	left: 0;
	bottom: 2%;
}
.keyboard_row {
	margin-top: var(--keyboard_key_margin);
	height: calc(100%/3);
	width: 100%;
}
.keyboard_key{ 
	display: inline-block;
	line-height: 62px;
	vertical-align: middle;
	height: 100%;
}

.keyboard_key {
	font-size: var(--keyboard_font_size);
	border-radius: var(--border_radius);
	
	width: var(--keyboard_key_width);
	margin-left: calc(var(--keyboard_key_margin)/2);
	margin-right: calc(var(--keyboard_key_margin)/2);
}

#enter, #backspace {
	width: var(--keyboard_long_width);
}

.keyboard_key {
	background-color: var(--keyboard_color_key);
}
.keyboard_good {
	background-color: var(--keyboard_color_good);
}
.keyboard_bad {
	background-color: var(--keyboard_color_bad);
}

.backspace_svg {
	padding-right: 6px;
	stroke-width: 3px;
	overflow: visible;
	color: white;
	stroke: white;
	fill: var(--keyboard_color_key);
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}