@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Supermercado One';
}
#header {
	display: flex;
	justify-content: center;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--foreground);
}

.header_button {
	height: 100%;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	margin-left: 0.5%;
	margin-right: 0.5%;
	flex-grow: 1;
	border-radius: var(--border_radius);
	background-color: var(--guess_correct);
}
#title_and_subtitle {
	flex-grow: 2;
	height: 100%;

	margin-left: 0.5%;
	margin-right: 0.5%;
}



#gameboard {
	width: 100%;
	display: flex;
	justify-content: center;
}

#head {
	display: inline-block;
	width: 50%;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}