@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: 'Supermercado One';
}
#gameboard {
	width: 100%;
	display: flex;
	justify-content: center;
}
#strt {
	width: 10%;
	min-width: 100px;
	display: block;
	position: absolute;
	right: 1%;
	top: 0.5%;
}
#head {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#roominfo {
	text-align: left;
	position: absolute;
	left: 1%;
	top: 0.5%;
	min-width: 100px;
	width: 10%;
	z-index: 10;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}