:root { 
	--background: #121212;
	--foreground: white; 
	--foreground_alt: rgb(200, 200, 200);
	
	--keyboard_key_width: calc(100%/12);
	--keyboard_long_width: calc(var(--keyboard_key_width)*1.55);
	--keyboard_key_margin: calc(var(--keyboard_key_width)/12);
	--keyboard_font_size: 30px;
	--keyboard_width: 600px;
	--keyboard_height: 200px;
	--keyboard_color_key: #818384;
	--keyboard_color_good: #538d4e;
	--keyboard_color_bad: #3a3a3c;


	--guess_includes: #b59f3b;
	--guess_doesntinclude: #3a3a3c;
	--guess_correct: #538d4e;

	--grid_background: var(--background);
	--grid_outline_normal: #3a3a3c;
	--grid_outline_bad: red;
	--grid_outline_used: rgba(0, 0, 0, 0);
	
	--border_radius: 8px;

	--alert_font_size: 2em;
	--boardname_font_size: 2em; 
	--grid_entry_font_size: 3em;

	--title_font_size: 50px;
	--subtitle_font_size: 19px;

	--button-font-size: 3em;
	--invited_font_scale: 0.566;
	--username_font_size: 2em;
}